<html ng-app="consoleApp">
<head>
	<title>Numeric Console</title>
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/angular-socket-io/socket.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body ng-controller="MainCtrl">
	<button ng-click="start()">Start</button>
	<button ng-click="stop()">Stop</button>
	<button ng-click="reset()">Reset</button>
	<table>
		<tr ng-repeat="player in players | orderBy:score">
			<td>{{player.name}}</td>
			<td>{{player.score}}</td>
		</tr>
	</table>
</body>
<script type="text/javascript">
	angular.module("consoleApp", ['btford.socket-io'])
	.factory('io', function (socketFactory) {
  		return socketFactory();
	})
	.controller('MainCtrl', function($scope, $http, io){
		$scope.start = function(){
			$http.get('/start');
			updatePlayers();
		}

		$scope.stop = function(){
			$http.get('/stop');
		}

		$scope.reset = function(){
			$http.get('/reset');
			$scope.players = [];
		}

		io.on('console:player', function(){
			updatePlayers();
		})

		function updatePlayers(){
			$http.get('/players').success(function(players){
				$scope.players = players;
			})
		}

		updatePlayers();
	})
</script>
</html>